<h4 class="text-center">Botões (Mídias sociais)</h4>
<div class="container-fluid py-3 text-center">
  <share-buttons
    theme="circles-dark"
    [include]="[
      'copy',
      'facebook',
      'email',
      'messenger',
      'mix',
      'line',
      'linkedin',
      'pinterest',
      'print',
      'reddit',
      'sms',
      'telegram',
      'tumblr',
      'twitter',
      'viber',
      'vk',
      'xing',
      'whatsapp'
    ]"
    [showIcon]="true"
    [showText]="false"
    url=""
    description="Angular Share Buttons"
    twitterAccount=""
    class="pt-5"
  >
  </share-buttons>

  <share-buttons
    theme="modern-dark"
    [include]="[
      'copy',
      'facebook',
      'email',
      'messenger',
      'mix',
      'line',
      'linkedin',
      'pinterest',
      'print',
      'reddit',
      'sms',
      'telegram',
      'tumblr',
      'twitter',
      'viber',
      'vk',
      'xing',
      'whatsapp'
    ]"
    [showIcon]="true"
    [showText]="true"
    url=""
    description="Angular Share Buttons"
    twitterAccount=""
    class="pt-5"
  >
  </share-buttons>

  <share-buttons
    theme="modern-dark"
    [include]="[
      'copy',
      'facebook',
      'email',
      'messenger',
      'mix',
      'line',
      'linkedin',
      'pinterest',
      'print',
      'reddit',
      'sms',
      'telegram',
      'tumblr',
      'twitter',
      'viber',
      'vk',
      'xing',
      'whatsapp'
    ]"
    [showIcon]="false"
    [showText]="true"
    url=""
    description="Angular Share Buttons"
    twitterAccount=""
    class="pt-5"
  >
  </share-buttons>
</div>
