  <nav class="navbar navbar-light mb-3 justify-content-center" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand h1" routerLink="/">Exemplos</a>
    </div>
  </nav>


<div class="container-fluid">
  <div class="row">
    <div class="col-1">
      <nav class="nav nav-pills nav-fill nav-justified flex-column">
        <a class="nav-link" routerLink="/bootstrap-modal" routerLinkActive="active">Modal (Bootstrap)</a>
        <a class="nav-link" routerLink="/ngx-toastr" routerLinkActive="active">Ngx-Toastr</a>
        <a class="nav-link" routerLink="/internacionalizacao" routerLinkActive="active">Internacionalização</a>
        <a class="nav-link" routerLink="/mapa-leaflet" routerLinkActive="active">Mapa (Leaflet)</a>
        <a class="nav-link" routerLink="/botoes-midias-sociais" routerLinkActive="active">Botões (Mídias Sociais)</a>
        <a class="nav-link" routerLink="/recaptcha-v2" routerLinkActive="active">Recaptcha V2</a>
        <a class="nav-link" routerLink="/recaptcha-v3" routerLinkActive="active">Recaptcha V3</a>
        <a class="nav-link" routerLink="/logger" routerLinkActive="active">Logger</a>
        <a class="nav-link" routerLink="/highcharts" routerLinkActive="active">Hightcharts</a>
        <a class="nav-link" routerLink="/spinner" routerLinkActive="active">Spinner</a>
      </nav>
    </div>
    <div class="col-11" style="position: relative">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
